.container {
    width: 100%;
    padding: 2rem;
}

.title {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.text {
    font-size: 18px;
    margin-bottom: 1rem;
}

.link {
    text-decoration: underline;
}

.team {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 2rem;
    border-radius: 10px;
    background-color: rgba(253, 224, 71, 1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description > h2 {
    font-size: 24px;
    font-weight: 700;
}

.profile {
    border-radius: 50%;
}

.social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.social > a {
    font-size: 32px;
}
