.containerAdoptionsScreen {
    margin: 1.5rem 2rem;
    padding: 0.5rem 5rem;
    color: rgb(18, 18, 18);
    background-color: rgb(255, 255, 121);
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: 95%;
    height: 450px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    flex: 1.5;
}

.titleAdoptionsScreen {
    font-size: 4.5rem;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

.descriptionAdoptionsScreen {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
}

.buttonsContainerAdoptionsScreen {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-end;
}

.buttonsAdoptionsScreen {
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    background-color: rgb(18, 18, 18);
    color: white;
    border: 1px solid rgb(18, 18, 18);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all 0.5s ease-in-out;
}

.buttonsAdoptionsScreen:hover {
    color: rgb(18, 18, 18);
    background-color: rgb(255, 255, 121);
}
