.formContainer{
    padding:20;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    gap: 30;
    align-items: center;
    width: 50vw;
    min-width: 800px;
    color: rgb(18, 18, 18);
    background-color: rgb(255, 255, 121);    
}

.firstLine
{
    padding:20;
    margin:auto;
    display: flex;
    flex-direction: row;
    width: 50vw;
    justify-content: space-around;
    align-content: space-around;
    gap: 30;
    align-items: center;    
}
