.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    margin: 0;
}
.logoContainer {
    width: 25vw;
    text-align: left;
}
.logoContainer span {
    font-size: 25px;
}

/* "Paw" styles */
.paw {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
}

/* "sitive" styles */
.sitive {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
    font-weight: bolder;
}

.menuContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20vw;
    padding-bottom: 15px;
}

.footer {
    text-align: center;
    color: rgb(18, 18, 18);
    background-color: rgb(253, 253, 81);
}

.footer li {
    list-style: none;
    margin: 10px;
    margin-bottom: 0;
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

.icons a {
    background-color: rgb(255, 255, 121);
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 100%;
    display: flex;
    transition: color 0.5s ease-in-out;
}
.icons a:hover {
    color: rgb(255, 255, 255);
}

.menu a {
    color: rgb(18, 18, 18);
    text-transform: capitalize;
    transition: all 0.4s ease;
}
.menu a:hover {
    color: rgb(57, 57, 57);
}

.footerCopyright {
    color: rgb(18, 18, 18);
    text-transform: capitalize;
    width: 45vw;
}

.footerCopyright p {
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}
