@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .input {
        @apply py-2 
        px-4 
        border
        border-pwgreen-400
        rounded-md
        shadow-md
        text-sm
        outline-none
        w-full;
    }

    .label {
        @apply font-medium;
    }

    .dashboardButton {
        @apply my-2
        px-4 
        py-3 
        text-pwgreen-800
        font-Rubik
        rounded-xl flex items-center gap-2
        cursor-pointer
        font-medium
        hover:bg-pwgreen-800 hover:text-pwgreen-50
        transition ease-linear delay-100;
    }

    .dashboardSideTitle {
        @apply
        font-Rubik
        font-medium
        text-pwgreen-800
        border-b
        border-b-slate-300
        px-2 py-1;
    }

    .active {
        @apply bg-pwgreen-800 text-pwgreen-50;
    }
}

@media (prefers-color-scheme: light) {
    html {
        color-scheme: light;
    }
    body {
        color: black;
        background: white;
    }
}
