@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;500;600&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .input {
        @apply py-2 
        px-4 
        border
        border-pwgreen-400
        rounded-md
        shadow-md
        text-sm
        outline-none
        w-full;
    }

    .label {
        @apply font-medium;
    }
}

@media (prefers-color-scheme: light) {
    html {
        color-scheme: light;
    }
    body {
        color: black;
        background: white;
    }
}
