@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .serviceSlider .swiper-button-prev,
    .serviceSlider .swiper-button-next {
        @apply bg-pwgreen-300 text-white top-[95%] w-[123px] h-[46px] rounded-[50%] z-20;
    }
    .serviceSlider .swiper-button-prev {
        @apply left-[23%] md:left-[35%] lg:left-[40%];
    }
    .serviceSlider .swiper-button-next {
        @apply right-[23%] md:right-[35%] lg:right-[40%];
    }
    .serviceSlider .swiper-button-prev:after,
    .serviceSlider .swiper-button-next:after {
        @apply text-lg;
    }
    .title {
        @apply font-Rubik text-3xl font-bold text-pwpurple-900 lg:text-5xl xl:text-6xl;
    }
    .input {
        @apply py-2 
        px-4 
        border
        border-pwgreen-400
        rounded-md
        shadow-md
        text-sm
        outline-none
        w-full;
    }

    .label {
        @apply text-sm font-medium;
    }

    .dashboardButton {
        @apply my-2
        px-3 
        py-3 
        text-pwgreen-800
        font-Rubik
        text-sm
        rounded-md flex items-center gap-2
        cursor-pointer
        font-medium
        hover:bg-pwgreen-800 hover:text-pwgreen-50
        transition ease-linear delay-100
        lg:px-4 lg:py-3 lg:text-xl;
    }

    .dashboardSideTitle {
        @apply font-Rubik
        font-medium
        text-pwgreen-800
        border-b
        border-b-slate-300
        px-2 py-1
        md:text-sm;
    }

    .dashboardLinks {
        @apply w-full md:text-sm;
    }

    .navbarLink {
        @apply block 
        mt-4 mr-4
        transition-all
        font-Rubik
        uppercase
        font-medium
        hover:text-pwgreen-800
        lg:inline-block lg:mt-0;
    }

    .active {
        @apply bg-pwgreen-800 text-pwgreen-50;
    }

    .tr-head {
        @apply w-max bg-pwgreen-700 text-pwgreen-50 text-sm text-center;
    }
    .th-head {
        @apply text-center w-max relative py-2 px-2 xl:py-4;
    }
    .td-body {
        @apply w-max text-center px-2 py-2;
    }
    .tr-body {
        @apply relative text-center px-2 py-2;
    }
    .button-head {
        @apply flex items-center justify-center gap-1
        absolute 
        left-[50%] -translate-x-2/4 
        top-[50%] -translate-y-2/4 
        text-pwgreen-50 font-bold;
    }
    .button-table {
        @apply p-2 
        text-xs 
        focus:outline-none 
        text-pwgreen-50 
        hover:bg-pwgreen-900 focus:ring-4 font-medium rounded-lg bg-pwgreen-700;
    }
}


/*************************** BUTTON CART ***************************/
.cart-button {
    position: relative;
    padding: 1rem 2rem;
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 0.5rem;
    background-color: #5d2344;
    outline: none;
    cursor: pointer;
    color: #f8ecf3;
    transition: 0.3s ease-in-out;
    overflow: hidden;
}
.cart-button:hover {
    background-color: #13070e;
}
.cart-button:active {
    transform: scale(0.9);
}

.cart-button .fa-shopping-cart {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: -20%;
    font-size: 1.2em;
    transform: translate(-50%, -50%);
}
.cart-button .fa-box {
    position: absolute;
    z-index: 3;
    top: -30%;
    left: 52%;
    font-size: 0.6em;
    transform: translate(-50%, -50%);
}
.cart-button span {
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    font-size: 1rem;
    color: #f8ecf3;
    transform: translate(-50%, -50%);
}

.cart-button span.add-to-cart {
    opacity: 1;
}
.cart-button span.added {
    opacity: 0;
}

.cart-button.clicked .fa-shopping-cart {
    animation: cart 1.5s ease-in-out forwards;
}
.cart-button.clicked .fa-box {
    animation: box 1.5s ease-in-out forwards;
}
.cart-button.clicked span.add-to-cart {
    animation: txt1 1.5s ease-in-out forwards;
}
.cart-button.clicked span.added {
    animation: txt2 1.5s ease-in-out forwards;
}
@keyframes cart {
    0% {
        left: -10%;
    }
    40%,
    60% {
        left: 50%;
    }
    100% {
        left: 110%;
    }
}
@keyframes box {
    0%,
    40% {
        top: -20%;
    }
    60% {
        top: 40%;
        left: 52%;
    }
    100% {
        top: 40%;
        left: 112%;
    }
}
@keyframes txt1 {
    0% {
        opacity: 1;
    }
    20%,
    100% {
        opacity: 0;
    }
}
@keyframes txt2 {
    0%,
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (prefers-color-scheme: light) {
    html {
        color-scheme: light;
    }
    body {
        color: black;
        background: white;
    }
}

.swiper-container {
    width: 400px;
}

.swiper-button-prev,
.swiper-button-next {
    width: 70px !important;
    height: 70px !important;
    border-radius: 50%;
    color: #153823 !important;
    background-color: #ecf8f1 !important;
    opacity: 0.4;
    box-shadow: none;
    transform: translateY(-15px);
    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    background-color: #3ea76a !important;
    color: #ecf8f1 !important;
    opacity: 1;
}

@media screen and (min-width: 400px) {
    .swiper-container {
        width: 400px;
    }
}

@media screen and (min-width: 768px) {
    .swiper-container {
        width: 768px;
    }
}

@media screen and (min-width: 1024px) {
    .swiper-container {
        width: 1024px;
    }
}
